.title {
  color: #99cccc;
  margin: 30px;
  text-align: center;
}

.paragraf {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}
.container {
  display: flex;
  height: max-content;
  min-height: 65vh;
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .paragraf {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .imagine {
    margin-top: 0;
    width: 40%;
    align-self: end;
  }
}
