.title {
  color: #99cccc;
  margin: 30px;
  text-align: center;
}

.paragraf {
  margin-left: 50px;
  font-size: 20px;
  margin-left: 50px;
}
.imagine {
  width: 40%;
  margin-right: 50px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: max-content;
  min-height: 70vh;
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .paragraf {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
