.priority {
  height: max-content;
  min-height: 65vh;
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.h4 {
  font-size: 20px;
  color: black;
}

.link {
  margin-top: 20px;
  font-size: 25px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  display: list-item;
  list-style: square;
  list-style-position: inside;
}
.link:hover {
  color: #34818b;
}
.container {
  border: 1px solid #42baca;
  margin-left: 40px;
  margin-right: 40px;
  margin: 10px;
}
.button {
  margin-bottom: 10px;
  background-color: #34818b !important;
  border: none !important;
}
.button:hover {
  background-color: #54928fe3 !important;
}
