.aligment {
  margin: 50px;
  margin-left: 200px;
  margin-right: 200px;
}
.link {
  display: list-item;
  list-style: square;
  list-style-position: inside;
  color: #222;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: capitalize;
}
.link:hover {
  color: rgb(9, 219, 198);
}
.title {
  color: #99cccc;
  margin: 30px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 20px 50px 10px 50px;
  border: 1px solid #99cccc;
  padding: 10px;
}

@media (max-width: 1200px) {
  .aligment {
    margin-left: 10px;
    margin-right: 10px;
  }
  .list {
    margin-left: 10px;
    margin-right: 0;
  }
  .button {
    width: 50%;
  }
}
