.hello {
  font-size: 50px;
  text-align: center;
  margin: 30px;
  margin-bottom: 50px;
  font-weight: 600;
  background: linear-gradient(120deg, #037e78, #d2d0d6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.input {
  font-size: 20px;
  margin-left: 150px;
  margin-top: 60px;
}
